@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Fat.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}