@font-face {
    font-family: 'IRANYekanX';
    src: url('../fonts/IRANYekanX-ExtraBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekanX';
    src: url('../fonts/IRANYekanX-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'IRANYekanX';
    src: url('../fonts/IRANYekanX-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'IRANYekanX';
    src: url('../fonts/IRANYekanX-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekanX';
    src: url('../fonts/IRANYekanX-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

