@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --text-color: #56596A;
    --border-color: #D6D6D6;
    --main-bg: #F4F4FA;
    --content-bg: white;
    --primary-color: #5439AC;
    --secondary-color: #5439AC;
    --error-bg: #F6DEE5;
    --success-bg: #DEF1F6;
    --error-color: #E54660;
    --success-color: #39AC65;
}


.dark-theme {

    --text-color: white;
    --border-color: white;
    --main-bg: #303030;
    --content-bg: #202020;
    --primary-color: white;
    --secondary-color:#57C5D0;

    --error-bg: #4B3337;
    --success-bg: #334647;
}


body * {
    font-family: IranYekan, serif !important;
    color: var(--text-color);
}